body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.anti-feed > h1 {
	text-align: center;
}
.anti-feed--feedbox {
	max-width: 800px;
}

.feed-box {
	min-height: 200px;
	text-align: left;
}

.feed-item {
}

.logo {
	height: 60px;
  width: 45px;
  margin-top: -14px;
  margin-left: -10px;
}

.center-button {
	text-align: center;
}